<%= stylesheet_link_tag "contato_site" %>
<%= javascript_include_tag "contato_site" %>

	<div class="infos-geral"></div>

	<div class="right-side">
		<div class="formulario-contato">
	    		<div class="formulario">
	    			<p class="titulo margin-top">Entre em contato conosco inserindo seus dados no formulário abaixo ou pelos telefones:</p>
	    			<p class="titulo margin-top">(11)2796-6620 / (11)7759-7371 / (11)7833-5333</p>
	    					
	    			<p class="texto margin-top">Nome:</p>
	    			<p class="texto"><input type="text" name="nome" size="50" /></p>
	    					
	    			<p class="texto margin-top">E-mail:</p>
	    			<p class="texto"><input type="text" name="email" size="50" /></p>
	    					
	    			<p class="texto margin-top">Mensagem:</p>
	    			<p class="texto"><textarea name="mensagem" rows="7" cols="50"></textarea></p>
	    					
	    			<p class="texto margin-top"><input class="tipografia texto" type="button" value="Enviar" /></p>
	    		</div>
	    	</div>
    	</div>



