<%= stylesheet_link_tag "evento_site" %>
<%= stylesheet_link_tag "smoothness/jquery-ui-1.10.0.custom.css" %>

<%= javascript_include_tag "eventos_site" %>
<%= javascript_include_tag "jquery-ui-1.10.0.custom.js" %>


<div class="right-side">
	<div class="div-redonda procura">
		<p class="titulo">
			Data: 
			<input type="text" id="procura-eventos-data" value="" class="campo-de-procura tipografia texto" />
			<input type="button" value="Procurar" class="botao-de-procura tipografia texto" id="botao-procurar" /> 
		</p>
	</div>

	<div class="div-redonda eventos">
	</div>
</div>
