@import url('http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic&subset=cyrillic,greek,latin');

@CHARSET "ISO-8859-1";

.formulario-contato {
        padding: 0 1% 1% 1%;
        background:url("/assets/fundo_preenchimento.fw.png");
        border: 1px solid #000066;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;	
	position:static;
	text-align: center;
}
.formulario{
	position:inherit;
	text-align: left;
	width: 50%;
	margin: 5% auto;
}

.formulario .texto input{
	font-family: 'Ubuntu', Tahoma;
	font-size: 14px;
	color:#003399;
	padding: 3px;
}

.formulario .texto textarea{
	font-family: 'Ubuntu', Tahoma;
	font-size: 14px;
	color:#003399;
}
